@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Merriweather&family=Roboto&display=swap');


[data-tab-content] {
    display: none;
  }
  
.active[data-tab-content] {
    display: block; 
}

.tab.active {
    color: #0044ff;
}
